.view-products-list {
    padding: 24px;
}

.view-products-list .title {
    margin-bottom: 32px;
}

.view-products-list .buttonGroup {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 16px;
}

.view-products-list .buttonGroup>Button {
    margin-right: 8px;
}

.view-products-list .customTable {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.view-products-list .customTable .ant-table {
    min-width: 550px;
    width: 100%;
}

.view-products-list .customTable .ant-table-tbody>tr>td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: normal;
}

.view-products-list .customTable .ant-table-thead>tr>td:last-child {
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: normal;
}

.view-products-list .customTable .ant-table-thead>tr>th:last-child,
.view-products-list .customTable .ant-table-tbody>tr>td:last-child {
    width: 90px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .view-products-list .customTable {
        min-width: 400px;
        margin: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .view-products-list .customTable .ant-table-thead>tr>th:last-child,
    .view-products-list .customTable .ant-table-tbody>tr>td:last-child {
        width: 90px;
        text-align: center;
    }

    .view-products-list .customTable .ant-table-pagination {
        margin: 10px 0;
    }
}

.view-products-list .customTable .ant-table-cell {
    padding: 4px;
}

.view-products-list .customTable .ant-table-thead>tr>th {
    padding: 16px 8px;
}

.view-products-list .customTable .ant-table-pagination {
    margin-right: 16px;
}

.ant-select-show-search:not(.ant-select-customize-input) .ant-select-selector {
    cursor: pointer !important;
}

.ant-select:not(.ant-select-open) .ant-select-selector {
    cursor: pointer !important;
}

.view-products-list .title {
    margin-bottom: 32px;
}

.view-products-list .import-csv-link {
    margin-top: 16px;
    display: block
}