.ant-layout {
    min-height: 100vh;
}

.ant-layout-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.ant-layout-content {
    
    padding: 0;
    
}

@media (max-width: 768px) {
    .header {
        padding: 0 20px;
    }

    .content {
        padding: 15px;
    }
}