.eStock {
  	position: absolute;
  	height: 21.05%;
  	width: 5.9%;
  	top: 33.68%;
  	left: 2.22%;
  	display: inline-block;
}
.div {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: rgba(0, 0, 0, 0);
}
.logout {
  	position: absolute;
  	top: 30.53%;
  	left: 93.4%;
  	text-align: center;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.navbar {
  	width: 100%;
  	position: relative;
  	height: 95px;
  	text-align: left;
  	font-size: 20px;
  	color: #fff;
  	font-family: Saira;
}

