.view-products-list {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-products-list .title {
    margin-bottom: 32px;
}

.view-products-list .buttonGroup {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 16px;
    width: 100%;
}

.view-products-list .buttonGroup > Button {
    margin-right: 8px;
}

.view-products-list .customTable {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    overflow-x: auto; /* Ensures the table is scrollable horizontally on smaller screens */
}

.view-products-list .customTable .ant-table {
    min-width: 600px; /* Ensures table columns have enough space */
}

.view-products-list .customTable .ant-table-tbody > tr > td:last-child,
.view-products-list .customTable .ant-table-thead > tr > th:last-child {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .view-products-list .buttonGroup {
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
    }

    .view-products-list .buttonGroup > Button {
        width: 100%; /* Makes buttons full width for easier access on mobile */
    }

    .view-products-list .customTable {
        width: calc(100% - 16px); /* Adjust width to allow for padding/margins */
    }
}

.view-products-list .customTable .ant-table-cell {
    padding: 4px 8px; /* Adjust cell padding for better data visibility */
}

.view-products-list .customTable .ant-table-thead > tr > th {
    padding: 16px 8px;
}

.view-products-list .customTable .ant-table-pagination {
    margin-top: 16px;
    margin-bottom: 0;
    margin-right: 16px;
}

.ant-select-show-search:not(.ant-select-customize-input) .ant-select-selector,
.ant-select:not(.ant-select-open) .ant-select-selector {
    cursor: pointer !important;
}

.view-products-list .import-csv-link {
    margin-top: 16px;
    display: block;
}
