/* Layout.css */
.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-layout-sider {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  margin-inline-start: 0;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.ant-layout-content {
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    
  }

  .content {
    
  }
}
