.title-container {
    margin-top: 96px;
    text-align: left;
  }
  
  .title-text {
    margin-bottom: 8px;
    font-size: 24px;
    
  }
  
  .title-underline {
    border: 0;
    height: 2px;
    background-color: #676565;
    margin-bottom: 32px;
  }
  